export DBHOST="localhost"
export DBPORT=5432
export DBUSER="admin"
export DBPASSWORD="password"
export DBNAME="shylock"
export OS_DOMAIN_NAME="Default"
export DOMAIN_ID="changeme"
export OS_AUTH_URL=https://cloud.example:5000/v3
export OS_PROJECT_ID="changeme"
export OS_PROJECT_NAME="changeme"
export OS_USER_DOMAIN_NAME="changeme"
export OS_PROJECT_DOMAIN_ID="changeme"
export OS_USERNAME="openstackuser"
export OS_PASSWORD="openstackpass"
export OS_REGION_NAME="openstackregion"
export OS_INTERFACE=public
export OS_IDENTITY_API_VERSION=3
export PROMETHEUS_URL="http://prometheus.example"
export PROMETHEUS_PORT=9090
export DB_TYPE=sqlite
export SQLITE_DATABASE="./database.db"
